<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
  
  <!--<div class="field">-->
  <!--  <#%= form.label :interval %>-->
  <!--  <#%= form.text_area :interval, required: true %>-->
  <!--</div>-->
  
  <div class="dropdown">
    <h3>Interval</h3>
    <select name="interval">
       <%= options_for_select([["1시간", "1"], ["2시간", "2"], ["3시간", "3"], ["5시간", "4"]]) %>
    </select>
  </div>
  
  <div class="dropdown">
    <h3>StartTime</h3>
    <select name="starttime">
       <%= options_for_select([["6시", "1"], ["7시", "2"], ["8시", "3"], ["9시", "4"]]) %>
    </select>
  </div>
  <div class="dropdown">
    <h3>FinTime</h3>
    <select name="fintime">
       <%= options_for_select([["21시", "1"], ["22시", "2"], ["23시", "3"], ["24시", "4"]]) %>
    </select>
  </div>
  <div class="dropdown">
    <h3>StartDay</h3>
    <select name="startday">
       <%= options_for_select([["토", "1"], ["월", "2"]]) %>
    </select>
  </div>
  <div class="dropdown">
    <h3>Days</h3>
    <select name="days">
       <!--<#%= options_for_select([["Dollar", "$"], ["Kroner", "K"]], disabled: ["Advanced", "Super Platinum"]) %>-->
       <%= options_for_select([["5일", "1"], ["7일", "2"]]) %>
    </select>
  </div>
  <!--<option value="volvo">Volvo</option>-->
 
  <!--<div class="field">-->
  <!--  <%#= calendar number_of_days: 7 do |date| %>-->
  <!--    <%#= link_to date, '/posts/new' %>-->
  <!--  <%# end %>-->
  <!--</div>-->
  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>